<!DOCTYPE html>
<html>
<head>
    <title>Add Category</title>
</head>
<body>

<h1>Add Category</h1>

<form method="POST">

    <input
        type="text"
        name="name"
        placeholder="Category Name"
        required
    >

    <br><br>

    <input
        type="text"
        name="slug"
        placeholder="category-slug"
        required
    >

    <br><br>

    <textarea
        name="description"
        placeholder="Description">
    </textarea>

    <br><br>

    <button type="submit">
        Save Category
    </button>

</form>

</body>
</html>